body {
    font-family: Arial, sans-serif;
    background-color: #F5F6F8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.navbar {
    background-color: #00558D;
    color: white;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    width: calc(100% - 261px);
    height: 40px;
    margin-left: 261px;
}


.school-logo-large {
    height: 100px; 
    margin-bottom: 10px;
}

.school-name {
    text-align: left;
    flex-grow: 1;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #adadad;
}

.navbar-icons {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navbar-icons img {
    height: 20px;
    margin-right: 20px;
}

.notification {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.notification .badge {
    position: absolute;
    top: -10px; 
    right: -10px; 
    padding: 2px 6px; 
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 12px; 
    font-weight: bold; 
}

.avatar {
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    transform: scale(1.5);
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 220px;
    background-color: #00558D;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin-right: 5px;
    top: 0;
    bottom: 0;
    height: 100vh;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(176, 175, 175);
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

#sidebar-title{
    font-size: 16px;
    font-weight: bold;
    color: #bfd92c
}

.avatar-large {
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar-section {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #bfd92c
}


.sidebar-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00558D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 16px;
    transition: all 0.3s ease;
}

.sidebar-btn i {
    margin-right: 10px;
}

.sidebar-btn:hover {
    padding-left: 20px;
}

#icon-sidebar{
    transform: scale(0.8);
}
.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 220px;
    overflow-x: hidden;
}

#title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    color: #0056b3;
}

#filter-box {
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

#filter-box label {
    margin-right: 5px;
}

table {
    width: 90%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
    transition: transform 0.3s;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #00558D;
    color: white;
    font-size: 16px;
}

td {
    font-size: 14px;
}

#selected-topic-info {
    background-color: #e0f7fa;
    padding: 15px;
    border-radius: 5px;
    margin: 20px auto;
    width: 85%;
}


#selected-topic-info,
form#group-info-form,
#sub-res-button {
    display: none;
}

#selected-topic-info.visible,
form#group-info-form.visible,
#sub-res-button.visible {
    display: block;
}



form#group-info-form {
    width: 80%;
    /* display: flex; */
    flex-direction: column;
    margin: 20px auto;
}

form#group-info {
    /* display: flex; */
    align-items: center;
    gap: 20px;
}

#member-count {
    width: 150px;
}

#member-count-label{
    margin-left: 50px;
}


form#group-info label {
    margin-bottom: 5px;
    width: 20%;
    display: inline-block;
}

form#group-info input,
form#group-info select {
    padding: 5px;
    margin-bottom: 10px;
    width: 40%;
    box-sizing: border-box;
}



#member-fields {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(auto-fill, 60px); */
    grid-row-gap: .25em;
    grid-column-gap: 1em;
    margin-top: 30px;
}

.selected-row {
    background-color: #f0f0f0;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#button-container {
    display: flex;
    justify-content: center; 
    gap: 10px;
    margin: 20px auto;
}

button:hover {
    background-color: #0056b3;
}

#sub-res-button{
    flex-direction: row;
    margin-left: 500px;
}
